<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
    <h2>Add Product</h2>
    <form action="/add_product" method="POST">

        <label>Title:</label>
        <input type="text" id="title" name="title"><br><br>

        <label>Price:</label>
        <input type="text" id="price" name="price"><br><br>

        <label>Description:</label>
        <textarea id="description" name="description"></textarea><br><br>

        <label>Inventory:</label>
        <input type="text" id="inventory" name="inventory"><br><br>

        <label>Colors:</label>
        <input type="text" id="colors" name="colors"><br><br>

        <label>Size:</label>
        <input type="text" id="size" name="size"><br><br>

        <label>Warranty Period:</label>
        <input type="text" id="warranty_period" name="warranty_period"><br><br>

        <label>Vendor ID:</label>
        <input type="text" id="vendor_id" name="vendor id"><br><br>

        <label>Category</label>
        <input type="text" id="category" name="category"><br><br>


        <input type="submit" value="Submit">

    </form>

</body>
</html>