<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
    <h2>Add Product</h2>
    <form action="/add_product" method="POST">
        <label></label>
        <input type="text" id="title" name="title"><br><br>

        <label></label>
        <input type="text" id="price" name="title"><br><br>

        <label></label>
        <textarea id="description" name="title"></textarea><br><br>

        <label></label>
        <input type="text" id="title" name="title"><br><br>

        <label></label>
        <input type="text" id="title" name="title"><br><br>

        <label></label>
        <input type="text" id="title" name="title"><br><br>

        <label></label>
        <input type="text" id="title" name="title"><br><br>

        <label></label>
        <input type="text" id="title" name="title"><br><br>

        <input type="submit" value="Submit:>"

    </form>

</body>
</html>