<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
    <h2>Add Product</h2>
    <form action="/add_product" method="POST">
        <label></label>
        <input type="text" id="title" name="title"><br><br>

        <label></label>
        <input type="text" id="price" name="title"><br><br>

        <label></label>
        <textarea id="description" name="title"></textarea><br><br>

      <label></label>
      <input type="text" id="inventory" name="title"><br><br>

        <label></label>
        <input type="text" id="colors" name="title"><br><br>

        <label></label>
        <input type="text" id="size" name="title"><br><br>

        <label></label>
        <input type="text" id="warranty_period" name="title"><br><br>

        <label></label>
        <input type="text" id="vendor_id" name="title"><br><br>

        <input type="text" id="warranty" name="title"><br><br>

        <label></label>
        <input type="text" id="category" name="title"><br><br>

        <label></label>
        <input type="text" id="colors" name="title"><br><br>

        <label></label>
        <input type="text" id="sizes" name="title"><br><br>

        <label></label>
        <input type="text" id="number available" name="title"><br><br>


        <input type="submit" value="Submit:>">

    </form>

</body>
</html>