{% extends 'home.html' %}

{% block content %}
<h1>Chat with Customer {{ customer_id }}</h1>
<form method="POST">
    <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<hr>
<div id="chat-history">
    {% for message in chat_history %}
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0">{{ message.dates }}</h5>
            {{ message.message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}