<style>
.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 0.25em;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
</style>





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendors Paradise</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Welcome To Vendors Paradise</h1>
    <h2>Enjoy a wide Variety of goods and products for sale and to sell!</h2>

      

</body>
</html>